n8n-workflows/my-calendar-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "812d5c42-2ab6-498b-9536-86b2f9fc8cf4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "9ed5ec84-0c55-4506-a938-4414ad95cca8",
      "name": "Webhook",
      "webhookId": "812d5c42-2ab6-498b-9536-86b2f9fc8cf4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.events",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        260,
        0
      ],
      "id": "a9ed3821-2fb1-41bf-b391-c1f931fcbba6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aaron.abhishay@gmail.com",
          "mode": "list",
          "cachedResultName": "aaron.abhishay@gmail.com"
        },
        "start": "={{$json[\"startTime\"]}}",
        "end": "={{$json[\"endTime\"]}}",
        "additionalFields": {
          "attendees": [
            "={{ $json[\"attendees\"].join(\",\") }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{$json[\"description\"]}}",
          "sendUpdates": "all",
          "summary": "={{$json[\"title\"]}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "4412d0ed-a85a-4207-8565-3472b30ec794",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Yl87XanV77ryhKiG",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "604df58e-e0b2-48f3-805b-98d121bfd784",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4f7011ab8c015fb3176b77c188bb6f7b3bf702457dc1a98decb903e29c9740e"
  },
  "id": "6rrijOFv0kXD56JW",
  "tags": []
}